.button-default {
	background-image: linear-gradient(to bottom, #742c00, #8a3700 15%, #923700 26%, #b55311 63%, #ce671c);
}
button-insensitive {
background: rgb(220, 220, 220);
}

button {
background: linear-gradient(to bottom, rgb(211, 150, 52) 0%, rgb(241, 202, 81) 74%, rgb(251, 220, 91) 100%);
}.button-prelight {
	background-image: linear-gradient(to bottom, #af6d1f, #ce8d2e 42%, #ecb447);
}
.button-pressed {
	background-image: linear-gradient(to bottom, #762c00, #903600 15%, #ce671c);
}
check1 {
background: linear-gradient(to bottom, rgb(209, 147, 49) 0%, rgb(236, 193, 76) 60%, rgb(254, 224, 93) 100%);
}.check3 {
	background-image: linear-gradient(to bottom, #762c00, #863200 9%, #d36b1f);
}
.menubar-item {
	background-image: linear-gradient(to bottom, #742c00, #8a3400 12%, #8a3400 18%, #a14305 37%, #d0661e);
}
.menubar {
	background-image: linear-gradient(to bottom, #113439, #113439 12%, #315155 58%, #486366 79%, #50696b 87%, #5b7677);
}
.menuitem {
	background-image: linear-gradient(to bottom, #0f3631, #2b5151 50%, #5c6e74);
}
.menu {
	background-image: linear-gradient(to bottom, #fae584, #fae584 58%, #ffde71 96%, #ffda6a 98%, #ffcc53);
}
panel-button-active {
background: linear-gradient(to bottom, rgb(194, 121, 27) 0%, rgb(232, 179, 50) 65%, rgb(252, 214, 65) 100%);
}
.panel-button-active-prelight {
	background-image: linear-gradient(to bottom, #742c00, #742c00 2%, #963c00 26%, #d06620);
}
panel-button-inactive {
background: linear-gradient(to bottom, rgb(19, 85, 83) 0%, rgb(29, 131, 127) 65%, rgb(36, 157, 152) 100%);

}.progressbar-horiz {
	background-image: linear-gradient(to right, #b23d00, #b23d00 4%, #bd4d00 15%, #faa600 77%, #ffad00 78%, #ffbc00 92%, #ffc600);
}
.progressbar-vert {
	background-image: linear-gradient(to bottom, #ffc600, #ffb400 16%, #b74500 93%, #b23d00);
}
trough-progressbar-vert {
background: rgb(226, 248, 255);
}

slider-horiz {
background: linear-gradient(to bottom, rgb(215, 157, 55) 0%, rgb(240, 199, 79) 65%, rgb(253, 222, 92) 100%);
}slider-horiz-prelight {
background: linear-gradient(to bottom, rgb(179, 62, 0) 0%, rgb(206, 111, 8) 47%, rgb(234, 161, 18) 94%, rgb(238, 167, 19) 100%);
}.trough-horizontal {
	background-image: linear-gradient(to bottom, #000000, #74808a 25%, #000000);
}
slider-horiz{
background: linear-gradient(to bottom, rgb(169, 71, 5) 0%, rgb(209, 128, 13) 50%, rgb(249, 186, 21) 100%);
}slöider-horiz-prelight{
background: linear-gradient(to bottom, rgb(120, 45, 0) 0%, rgb(176, 81, 19) 75%, rgb(196, 94, 26) 100%);
}trough-scrollbar-horiz {
background: linear-gradient(to bottom, rgb(99, 121, 140) 0%, rgb(61, 75, 86) 75%, rgb(48, 57, 67) 100%);
}tab {
background: linear-gradient(to bottom, rgb(220, 169, 73) 0%, rgb(251, 226, 115) 94%, rgb(253, 230, 118) 100%);
}.toolbar-light {
	background-image: linear-gradient(to bottom, #f9bd2f, #f8bf34 34%, #f2d75c);
}
.toolbutton-default {
	background-image: linear-gradient(to bottom, #fde05d, #fadb5a 13%, #d29533);
}
.toolbutton-focus {
	background-image: linear-gradient(to bottom, #e6ae48, #ebb245 4%, #b47322 90%, #b6782a);
}
.toolbutton-insensitive {
	background-image: linear-gradient(to bottom, #9ec5c4, #9ac3c2 13%, #5d9c9a);
}
.toolbutton-normal {
	background-image: linear-gradient(to bottom, #fde05d, #fadb5b 13%, #d39633);
}
.toolbutton-prelight {
	background-image: linear-gradient(to bottom, #e6ae48, #ebb245 4%, #bd7d28 77%, #b57322 90%, #b6772a);
}
.toolbutton-pressed {
	background-image: linear-gradient(to bottom, #742c00, #772e01 15%, #883906 30%, #ce671c);
}
